@import url('https://fonts.googleapis.com/css2?family=Gagalin&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities if needed */
@layer utilities {
  .font-gagalin {
    font-family: 'Gagalin', sans-serif;
  }
}

:root {
  --scrollbar-thumb: #1b67e2; /* Tailwind green-500 */
}

.dark {
  background-color: #0f1629;
  --scrollbar-thumb: #7429c6; /* Example: secondary-900, update to your actual color if different */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb);
}