@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.css or index.css */
@import url('https://fonts.googleapis.com/css2?family=Gagalin&display=swap');

/* Custom utilities if needed */
@layer utilities {
  .font-gagalin {
    font-family: 'Gagalin', sans-serif;
  }
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: whitesmoke; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: lightseagreen; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(
    22,
    153,
    146
  ); /* Color when hovering over the scrollbar thumb */
}
